@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#root {
  height: 100%;
  width: 100%;
}
.linear {
  background: linear-gradient(to bottom,#01B3F3, #0463CD);
  color: white;
}
.linear_line {
  background: linear-gradient(to right, #01B3F3, #0463CD);
}

.iconColor {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1)) /* #3b82f6 */;
}
.title {
  margin-top: 4rem /* 64px */;
    margin-bottom: 4rem /* 64px */;
    font-weight: 700;
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
    text-align: center;
}